* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span {
    color: #0ef;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}
.home content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100px;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: flex;
    grid-template-columns: repeat(auto-fit,mimmaxx(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color:transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-list div i{
    font-size: 50px;
    margin-top: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 {
    width: 600px;
    padding: 80px;
    margin: 20px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    margin-bottom: 30px;
}


.bar {
    margin: 20px 0;
    font-size: 18px;
}

.Technical-bars .info span {
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
}

.progress-line {
    position: relative;
    height: 8px;
    width: 100%;
    background: #000000;
    border-radius: 5px;
    overflow: hidden;
}

.progress-line span {
    display: block;
    height: 100%;
    background-color: #0ef;
    border-radius: 5px;
    animation: progress-animation 2s ease-out forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span { width: 90%; }
.progress-line.css span { width: 60%; }
.progress-line.javascript span { width: 85%; }
.progress-line.python span { width: 50%; }

@keyframes progress-animation {
    100% {
        transform: scaleX(1);
    }
}
.radial-bars {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.radial-bar {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px;
}

svg {
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 10;
    stroke: #000;
}

.path {
    stroke: #0ef;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
}

.path-1 { animation-delay: 0.5s; stroke-dashoffset: 50; } 
.path-2 { animation-delay: 0.5s; stroke-dashoffset: 175; } 
.path-3 { animation-delay: 0.5s; stroke-dashoffset: 125; } 
.path-4 { animation-delay: 0.5s; stroke-dashoffset: 75; } 

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.text {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}
.main-text{
    padding-top: 120px;
    margin-top: 200px; 
}
.main-text h2{
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
#portfolio {
    padding-top: 0;
    padding-bottom: 300px;
    text-align: center;
}

.main-text h2 {
    font-size: 90px;
    margin-bottom: 150px;

}

.main-text h2 span {
    color: #00bcd4; 
}
.portfolio-content {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap;
    max-height: 1000;
    max-width: 1500px;
    margin: 0 auto; 
}

.row {
    position: relative;
    width: 30%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.row:hover {
    transform: scale(1.05); 
}

.row img {
    width: 100%;
    height: 100%; 
    display: block;
    object-fit: cover; 
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 15px;
    text-align: left;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.row:hover .layer {
    transform: translateY(0); 
}

.layer h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00bcd4; 
}

.layer p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.layer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10%;
    background-color: #081b29; 
    color: #fff;
}
.contact-text {
    flex: 1;
    max-width: 45%; 
    margin-right: 20px;
    text-align: center;
}

.contact-text h2 {
    font-size: 90px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(228, 228, 228);
}

.contact-text p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(177, 177, 177);
}

.contact-list li {
    list-style: none;
    font-size: 18px;
    margin: 10px 0;
    color: #0ef;
}

.contact-icons a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.contact-icons a i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 10px #0ef;
}

.contact-form {
    flex: 1;
    max-width: 45%; 
    background: #1c1c1c;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    background: #555557;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.contact-form form textarea {
    resize: none;
    height: 150px;
}

.contact-form form .send {
    display: inline-block;
    background: #0ef;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    animation: slideTop 1s ease forwards;
    transition: all 0.3s ease;
}

.contact-form form .send:hover {
    box-shadow: 0 0 10px cyan, 0 0 50px cyan;
}
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact-text,
    .contact-form {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.last-text{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7,85,91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}